html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  height: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 0 1em;
}

.App-header-links {
  display: flex;
  padding: 0 0.5em;
}

.App-header-link {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 1em;
}

.App-icon {
  width: 39px;
  height: 42px;
  padding-right: 1em;
}

.App-title {
  flex-grow: 1;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.App-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}